<form [ngFormModel]="form" (ngSubmit)="changePassword()">
    <div class="form-group">
        <label for="old-password">Current Password</label>
        <input type="password"
               class="form-control"
               id="old-password"
               ngControl="curPass"
               #curPass="ngForm"
               required
        >
        <div *ngIf="curPass.touched && curPass.errors">
            <div *ngIf="curPass.errors.required"
                 class="alert alert-danger">
                Old password is required.
            </div>
            <div *ngIf="curPass.errors.invalidCurrentPass"
                 class="alert alert-danger">
                Old password is incorrect.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="new-password">New Password</label>
        <input type="password"
               class="form-control"
               id="new-password"
               ngControl="newPass"
               #newPass="ngForm"
               required
               minlength="5"
        >
        <div *ngIf="newPass.touched && newPass.errors">
            <div *ngIf="newPass.errors.required"
                 class="alert alert-danger">
                New password is required.
            </div>
            <div *ngIf="newPass.errors.minlength"
                 class="alert alert-danger">
                New password should be minimum {{newPass.errors.minlength.requiredLength}}.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="new-password">Confirm Password</label>
        <input type="password"
               class="form-control"
               id="confirm-password"
               ngControl="confirmPass"
               #confirmPass="ngForm"
               required
        >
        <div *ngIf="confirmPass.touched && !confirmPass.valid" class="alert alert-danger">
            Confirm the password.
        </div>
        <div *ngIf="confirmPass.touched && form.errors && form.errors.notMatches" class=" alert alert-danger">
            Passwords don't match.
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Change Password</button>
</form>